# Ignore environment variables/API keys
.Renviron
.env

# Ignore Excel files
*.xlsx
*.xls
*.xlsm

# Ignore RStudio files
.Rhistory
.RData
.RDataTmp
.Rproj.user/

# Ignore ZIP and large archives
*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2

